@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

/*--------------------*/
body {
  font-family: "clinicapro", sans-serif;
  background-color: #e9e6e1;
}

@font-face {
  font-family: clinicapro;
  src: url(C:UserssemenOneDriveДокументыДачаsrc\f ont\c linicaPro.ttf);
}
.header {
  background-color: #e9e6e1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header__conteiner {
  margin: 0 auto;
  padding: 0 60px;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header__logo {
  flex: 0 0 300px;
  position: relative;
  z-index: 55;
}
.header__logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.menu__icon {
  display: none;
}
.menu__arrow {
  display: none;
}
.menu__list li {
  position: relative;
  margin: 0 0 0 20px;
}
.menu__link {
  color: #2b475c;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #2b475c;
  padding: 15px;
  min-width: 200px;
}
.menu__sub-list li {
  margin: 0 0 10px 0;
}
.menu__sub-list li:last-child {
  margin: 0;
}
.menu__sub-link {
  color: #e9e6e1;
}
.menu__sub-link:hover {
  text-decoration: underline;
}

._pc .menu__list li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

._touch .menu__list > li {
  display: flex;
  align-items: center;
}

._touch .menu__link {
  flex: 1 1 auto;
}

._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #2b475c;
  transition: transform 0.3s ease 0s;
  margin: 0 0 0 5px;
}

._touch .menu__list li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

._touch .menu__list li._active .menu__arrow {
  transform: rotate(-180deg);
}

/*--------------------*/
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    transition: all 0.3s ease 0s;
    pointer-events: none;
  }
}
@media (max-width: 767px) {
  .header__body {
    height: 70px;
  }
  .header__logo {
    flex: 0 0 200px;
    z-index: 50;
  }
  .header__conteiner {
    padding: 0 20px;
  }

  ._touch .menu__arrow {
    border-top: 10px solid #e9e6e1;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #2b475c;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #2b475c;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #e9e6e1;
    z-index: 2;
  }
  .menu__list {
    margin-bottom: 0;
  }
  .menu__list li {
    margin: 0 0 30px 0;
    flex-wrap: wrap;
  }
  .menu__link {
    font-size: 18px;
    color: #e9e6e1;
  }
  .menu__sub-list {
    position: relative;
    flex: 1 1 100%;
    margin-top: 20px;
    display: none;
    background-color: #e9e6e1;
  }
  .menu__sub-link {
    font-size: 18px;
    color: #2b475c;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
}
.content {
  padding-top: 100px;
  background-color: #e9e6e1;
}
.content__conteiner {
  margin: 0 auto;
  padding: 0 60px;
}
.content__row {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
}
.content__block-1 {
  width: 25%;
  margin: 0 0.5rem 0.5rem 0;
}
.content__block-2 {
  width: 25%;
  margin: 0 0.5rem 0.5rem 0.5rem;
}
.content__block-3 {
  width: 25%;
  margin: 0 0.5rem 0.5rem 0.5rem;
}
.content__block-4 {
  width: 25%;
  margin: 0 0 0.5rem 0.5rem;
}
.content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .content {
    padding-top: 70px;
  }
  .content__row {
    flex-wrap: wrap;
  }
  .content__conteiner {
    padding: 0 20px;
  }
  .content__block-1 {
    width: 47%;
  }
  .content__block-2 {
    width: 47%;
  }
  .content__block-3 {
    width: 47%;
  }
  .content__block-4 {
    width: 47%;
  }
}